.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;

  &__item {
    padding: 6px;
    background: $flickr-pink;
    text-align: center;
    border-radius: 4px;
    box-shadow: 4px 4px 4px $black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 200px;
  }

  &__header {
    font-size: 20px;
    font-weight: 700;
  }

  &__status {
    font-size: 18px;
    font-weight: 400;
  }
}
